<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <title>Complaint Admin</title>
    <link rel="stylesheet" href="/views/css/adminhome.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    
</head>
<body>
             <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
           <h2> <span class="las la-Complaint-Box"></span> Complaint-Box</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href=""><span class="las la-user-circle"></span>
                        <span>Profile</span></a>
                </li>
               <li>
                <a href="/admin/dashboard" class="active"><span class="las la-igloo"></span>
                    <span>Dashboard</span></a>
                 
            </li>
           
            <li>
                <a href="" class="active"><span class="las la-users"></span>
                    <span>Residents</span></a>
                 
            </li>
            <li>
                
                <a href=""><span class="las la-workers"></span>
                    <span>Workers</span></a>
            </li>
            <li>
                <a href=""><span class="las la-clipboard-list"></span>
                    <span>Complaints</span></a>
            </li>
            <li>
                <a href=""><span class="las la-star"></span>
                    <span>Rate us</span></a>
            </li>
            <li>
                <a href="/admin/logout"><span style="color: white;">❌</span>
                    <span>Logout</span></a>
            </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
            <!-- <div class="header-title"> -->
                <label for="nav-toggle">
                   <span class="las la-bars">

                   </span>
                </label>
                Dashboard
            </h2>
            <div class="search-wrapper">
              <span class="las la-search"></span>
              <input type="search" placeholder="Search here" />
            </div>
            <div class="user-wrapper">
                <img src="/public/userImages/<%= user.image %>" width="40px" height="40px" alt="Admin Image">
                <div>
                    <h4><%=user.name %></h4>
                    <small>Super Admin</small>
                </div>
            </div>
         
            <!-- </div> -->
        </header>
        <main>
            <div class="cards">
                <div class="cards-single">
                    <div>
                        <h1><%= users.length %></h1>
                    <span>Residents</span>
                    </div>
                <div>
                    <span class="las la-users"></span>
                </div>
             </div> 
            <div class="cards-single">
                <div>
                    <h1><%= users.length %></h1>
                    <span>Pending Complaints</span>
                </div>
            <div>
                <span class="las la-receipt"></span>
            </div>
         </div> 
            <div class="cards-single">
           <div>
            <h1><%= users.length %></h1>
            <span> Total Complaints</span>
           </div>
        <div>
            <span class="las la-receipt"></span>
        </div>
    </div>
   </div> 

   <div class="recent-grid">
    <div class="projects">
        <div class="card">
        <div class="card-header">
          <h3>Recent Complaints</h3>

          <button>See All <span class="las la-arrow-right">

          </span></button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Resident</td>
                            <td>Complaint Title</td>
                            <td>Type Of Complaint</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(users.length> 0){
                            for(let i = 0; i<users.length && i<12 ; i++){ %>  
                        <tr>
                            <td><%= users[i].name %></td>
                            <td><%= users[i].customcomplain %></td>
                            <td>Custom</td>
                            <td style="padding: 10px;">
        
                            <a href="/admin/review?id=<%= users[i]._id%>">
                                <%
                                if(users[i].review && users[i].status){ %>
                                    <span style="background-color: rgb(32, 212, 4); color: white; padding: 5px 10px; border-radius: 10px;">completed</span>
                                 
                                <% }else if(users[i].review){ %>
                                    <span style="background-color: rgb(18, 4, 212); color: white; padding: 5px 10px; border-radius: 10px;">Reviewed</span>
                                <% }
                                else{ %>
                                    <span style="background-color: rgb(212, 70, 4); color: white; padding: 5px 10px; border-radius: 10px;">underprocess</span>
                                <% } %>
                                
                            </a>
                            </td>
                        </tr>
                        <% }
                     } %>
                    </tbody>
                        </table>
            </div>

  
        </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
              <h3>Assign Work</h3>
    
              <button>See All <span class="las la-arrow-right">
    
              </span></button>
            </div>
            <div class="card-body">
                <div class="customer">
                  <div class="info">
                    <img src="/public/si1.jpeg" width="40px" height="40px" alt="">
                <div>
                    <h4>Shivam Kumar</h4>
                        <small>Super Admin</small>
                </div> 
                </div>
                <div class="contact">
                  <span class="las la-user-circle"></span>  
                  <span class="las la-comment"></span>  
                  <span class="las la-phone"></span>  
                </div>

                </div>
                <div class="customer">
                    <div class="info">
                      <img src="/public/s.jpeg" width="40px" height="40px" alt="">
                  <div>
                      <h4>Shashwat Kapoor</h4>
                          <small>Admin</small>

                  </div> 
                  </div>
                  <div class="contact">
                  <span class="las la-user-circle"></span>  
                  <span class="las la-comment"></span>  
                  <span class="las la-phone"></span>  
                  </div>
  
                  </div>

                  <div class="customer">
                    <div class="info">
                      <img src="/public/c.jpeg" width="40px" height="40px" alt="">
                  <div>
                      <h4>Chandan Kumar</h4>
                          <small>Admin</small>
                  </div> 
                  </div>
                  <div class="contact">
                    <span class="las la-user-circle"></span>  
                    <span class="las la-comment"></span>  
                    <span class="las la-phone"></span>  
                  </div>
                  </div>
        </div>
        </div>
    </div>
   </div>
        </main>
    </div>
</body>
</html>